// homepage styles

.cover {
    display: table;
    height: auto;
    width: 100%;
    padding: 200px 30px;
    text-align: center;
    color: #000;
    background: url('../img/bg1.jpg'); 
    bottom: center no-repeat #000;

    margin-bottom: 30px;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    .cover-body {
        display: table-cell;
        vertical-align: middle;

        p.lead {
            padding: 40px 0;
            max-width: 500px;
            margin: 0 auto;
        }

        .btn {
            background-color: #000;
            color: white;

            &:hover {
                background-color: #555;
            }
        }
    }
}