
/*Avenir substitute*/
@import url(https://fonts.googleapis.com/css?family=Nunito:300);

body {
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Avenir', 'Nunito','Helvetica','Arial' sans-serif;
    font-weight: 100;
}

h1,h2,h3,h4,h5,h6,label {
    font-family: 'Gill Sans', 'Arial' sans-serif;
    font-weight: 100;
}

.textrow {
	padding: 0px 30px 0 30px;
}

.title {
	padding: 30px 30px 0 30px;
}